@font-face {
  font-family: 'Remona';
  src: url('./Remona.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Remona', sans-serif;
}
